<div id="query">
    <div class="h-panel">
        <div class="h-panel-bar">
            <span class="h-panel-title">
                <h4>{{subTitle}}</h4>
            </span>
        </div>
        <div class="h-panel-body">
            <h-form ref="form" label-position="right" :label-width="90" :model="queryInfo">
                <h-form-item label="参数名称">
                    <input type="text" v-model="queryInfo.paramName" />
                </h-form-item>
                <h-form-item label="参数值">
                    <input type="text" v-model="queryInfo.paramValue" />
                </h-form-item>
                <h-form-item label="分组名称">
                    <input type="text" v-model="queryInfo.groupName" />
                </h-form-item>
                <h-form-item label="分组编号">
                    <input type="text" v-model="queryInfo.groupId" />
                </h-form-item>
                <h-form-item>
                    <h-button color="primary" @click="query">提交</h-button>&nbsp;&nbsp;&nbsp;
                    <h-button @click="close">取消</h-button>&nbsp;&nbsp;&nbsp;
                </h-form-item>
            </h-form>
        </div>
    </div>
</div>
<script type="text/babel">
    new Vue({
        el: "#query",
        methods: {
            query(){
                this.index.$emit('loadList');
                this.close();
            },
            close() {
                this.app.$emit('back');
            }
        },
    });
</script>